#app{
  height: 100%;
}

.ant-layout-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

 .ant-layout-sider .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}


.ant-menu-dark .ant-menu-item a{
  color: rgba(255, 255, 255, 0.67);
}

.ant-menu-dark .ant-menu-item a:hover{
  color: #fff;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected a, .ant-menu-dark.ant-menu-inline .ant-menu-item-selected a:hover{
  color: #fff;
}

.ant-layout-header .ant-menu-horizontal{
  margin-top: 12px;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  margin-right: 0px;
}

#logo{
  display: block;
  margin: 20px auto;
  transition:all 1s;
  -moz-transition:all 1s; /* Firefox 4 */
  -webkit-transition:all 1s; /* Safari and Chrome */
  -o-transition:all 1s; /* Opera */
}
#logo:hover{ 
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);   /* IE 9 */
  -moz-transform:rotate(360deg);  /* Firefox */
  -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
  -o-transform:rotate(360deg);  /* Opera */
}
/*Calendar Style*/
.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warning {
  color: #fac450;
}

.event-normal {
  color: #108ee9;
}

.event-error {
  color: #f50;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
/*Calendar Style End*/

/*animated*/
@-webkit-keyframes zoomIn {
  0% {
  opacity: 0; /*初始状态 透明度为0*/
  }
  50% {
  opacity: 0; /*中间状态 透明度为0*/
  }
  100% {
  opacity: 1; /*结尾状态 透明度为1*/
  }
}
@keyframes zoomIn {
  0% {
  opacity: 0; /*初始状态 透明度为0*/
  }
  50% {
  opacity: 0; /*中间状态 透明度为0*/
  }
  100% {
  opacity: 1; /*结尾状态 透明度为1*/
  }
}
.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}
/*animated End*/
